<ion-view title="">
	<ion-nav-buttons side="left">
<!-- 	<img src="img/cdclogo.png">
	<button menu-toggle="left" class="button button-icon icon ion-navicon"> Menu</button>  -->
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
	<a class="button button-clear" href="#/app/settings"><i class="icon ion-gear-a"></i></a>
	</ion-nav-buttons>
	<ion-content class="has-header">
		{{storage}}
		
		<div class="list">
			<div class="nailthumb-container" nail-thumb>
				<img src="http://www.cdc.gov/mobile/applications/cdcgeneral/dotw/diseases/westnilevirus/WestNileVirus_Header_740px.jpg" />
			</div>

			<a class="item {{disease.cardtype}}" ng-class="{'item-thumbnail-left' : new.picture}" href="#/app/dotw/{{$index}}" ng-repeat="disease in diseases">
				<h2>{{disease.name}} ({{disease.cardtype}})</h2>
				<p>{{disease.shortDescription}}</p>
			</a>

		</div>
	   
	</ion-content>
</ion-view>