<ion-view title="">
	<ion-nav-buttons side="left">
	<img src="img/cdclogo.png">
	<button menu-toggle="left" class="button button-icon icon ion-navicon"> Menu</button> 
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
	<a class="button button-clear" href="#/app/settings"><i class="icon ion-gear-a"></i></a>
	</ion-nav-buttons>
	<ion-content class="has-header">

		<ion-refresher
		pulling-text="Pull to refresh..."
		on-refresh="doRefresh()">
		</ion-refresher>

			<div ng-repeat="stream in homestream | limitTo: paginationLimit()" class="inline" ng-class="stream.cardtype.indexOf('type-d') === 0 ? 'half' : 'full'">
				<div data-ng-include="selectTemplate(stream)"></div>
			</div>

        	<button class="button button-block button-positive" ng-show="hasMoreItems()" ng-click="showMoreItems()" >
        		Show more
        	</button>
	</ion-content>
</ion-view>